<section>
  <article>
    <div class="column one-half">
      <h1>Your Shops</h1>
    </div>
    <div class="column one-half">
      <%= link_to "Add Another Shop", new_related_shop_path, class: "pull-right button" %>
    </div>
  </article>
</section>
<section class="no-border">
  <article>
    <div class="card">
      <div class="overflow-container">
        <table class="results">
          <thead>
            <tr>
              <th>Name</th>
              <th>Sync Token</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <% @shop.related_shops.each do |shop| %>
              <tr>
                <td><%= shop.shopify_domain.remove(".myshopify.com") %></td>
                <td><%= shop.sync_token %></td>
                <td><button class="warning">Remove</button></td>
              </tr>
            <% end %>
            <tr>
              <td colspan="3" class="text-center">
                <%= link_to "Add Another Shop", new_related_shop_path, class: "button" %>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </article>
</section>