<div class="header twelve columns">
  <div class="main-header">
     <div class="applogo-wrapper">
     </div>
     <div class="title-wrapper">
        <h1>SyncEverything</h1>
        <span>Sync Everything Across Your Shops</span>
     </div>
     <div class="by-sp">
        <a href="https://theshoppad.com" rel="noopener noreferrer" target="_blank">
        </a>
     </div>
  </div>
</div>